STRIPE_SECRET=<set-in-env>
VERCEL_TOKEN=<set-in-env>
GUMROAD_APPLICATION_ID=your_gumroad_app_id
GUMROAD_SECRET_KEY=your_gumroad_secret
GUMROAD_ACCESS_TOKEN=<set-in-env>
RAILWAY_TOKEN=<set-in-env>
FLY_TOKEN=<set-in-env>
LINKEDIN_CLIENT_ID=your_linkedin_client_id
LINKEDIN_CLIENT_SECRET=<set-in-env>
