STRIPE_SECRET=your_stripe_key
VERCEL_TOKEN=your_vercel_token
GUMROAD_APPLICATION_ID=your_gumroad_app_id
GUMROAD_SECRET_KEY=your_gumroad_secret
GUMROAD_ACCESS_TOKEN=your_gumroad_access_token
RAILWAY_TOKEN=your_railway_token
FLY_TOKEN=your_fly_token
LINKEDIN_CLIENT_ID=your_linkedin_client_id
LINKEDIN_CLIENT_SECRET=your_linkedin_client_secret
